ul, li, input,p {
    display: block;
    padding: 0;
    margin: 0;
}
.container{
    width:100%;
    max-width: 1190px;
    margin: 0 auto;
}
.logo{
    margin-top:32px;
    margin-right: 85px;
}
.logo h1 {
    font-family: Museo Sans Cyrl, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 0;

}
.menu__item a{
    font-family: Museo Sans Cyrl,sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    color: #000000;
}
.menu__item a:hover{
    color: #DCA818;
    text-decoration: none   ;
}
.menu__item:not(:last-child){
    margin-right: 43px;
}
.menu__item:nth-child(5){
    margin-right: 85px;
}
.menu{
    margin-top: 35px;
}
.number a{
    font-family: Museo Sans Cyrl,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    color: #000000;
    margin-top: 37px;
}

.number:hover a {
    color: #DCA818;
}
.numb{
    font-size: 15px;
    margin-top: 39px;
    padding-right: 5px;
}
.back_frame1{
    background-image: url("../img/back_frame1.png");
    height: 751px;
    background-size: cover;
}
.head_top{
    padding-bottom: 33px;
    background: #ffffff;
}
.psoriaz__title{
    margin-top: 133px;
    margin-bottom: 25px;
}
.psoriaz__text{
    font-family: Museo Sans Cyrl,sans-serif;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;

}
.psoriaz_back{
    width: 642px;
    height: 53px;
    padding-top: 10px;
    background: #DCA818;
}
.input_btn{
    margin-top: 130px;
    background: #ffffff;
    color: #000;
    border: 0;
    border-radius: 50px;
    padding: 10px 0;
    cursor: pointer;
    font-family: Museo Sans Cyrl, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    width: 293px;
    height: 44px;
    text-decoration: none;
}
.input_btn:hover{
    text-decoration: none;
    color: #DCA818;
    padding: 10px 0;
}
.input_btn:active{
    background: #DCA818;
    color: #000;
    border: 0;
}
#info{
    margin-top: 61px;
}
.achievements__img{
    padding-bottom: 20px;
    display: block;
    margin: 0 auto;
}
.achievements h1{
    font-family: Museo Sans Cyrl,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.methods h1{
    font-family: Museo Sans Cyrl,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    margin-top: 64px;
    margin-bottom: 41px;
    color: #000000;
}
.methods p{
    font-family: Museo Sans Cyrl,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.methods__img{
    padding-bottom: 18px;
    display: block;
}
.price__title{
    margin-bottom: 31px;
}
.price__title h1{
    margin-top: 147px;
    font-family: Museo Sans Cyrl,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 31px;
}
.price__title h2{
    font-family: Museo Sans Cyrl, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    margin-top: 5px;
}
.price__title p{
    font-family: Museo Sans Cyrl, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
}
.price__img{
    margin-right: 24px;
    margin-bottom: 16px;
}
.font_size{
    font-size: 24px;
    line-height: 29px;
}
.bott{
    margin-top: 145px;
}
.result h1{
    margin-top: 147px;
    font-family: Museo Sans Cyrl,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
}
/*.result div{

}
.objects {
    z-index:10;
    width: 235px;
    height: 364px;
    background-color: #ffffff;
    opacity: 80%;

.objects:hover{
    opacity: 0 ;
}
.hide{
    padding-top: 50%;
    width: 235px;
    height: 364px;
    background-color: #ffffff;
}*/
     /* стили основного контейнера слайдера */
 .slider {
     margin-top: 29px;
     overflow: hidden;
 }
/* стили для контейнера слайдов */
.slider__items {
    display: flex;
    transition: transform 0.8s ease;
}
/* стили для слайдов */
.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
}
/* стили для индикаторов */
.slider__indicators {
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    bottom: 98px;
}

.slider__indicators li {
    text-indent: 0;
    margin: 0 5px;
    width: 14px;
    height: 14px;
    border: none;
    border-radius: 100%;
    line-height: 30px;
    color: #CACACA;
    background-color: #CACACA;
    transition: all 0.25s ease;
}

.slider__indicators li.active {
    background-color: #DCA818;
}
.slider__indicators li:hover {
    background-color: #DCA818;
    cursor: pointer;
}
.but{
    margin-top: 68px !important;
}
.input_btn_2{
    background: #DCA818;
    color: #ffffff;
    border: 0;
    border-radius: 50px;
    padding: 10px 0;
    cursor: pointer;
    font-family: Museo Sans Cyrl, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    width: 293px !important;
    height: 44px !important;
    text-decoration: none;
}
.input_btn_2:hover{
     text-decoration: none;
     color:#000;
 }
.input_btn_2:active{
    color:#DCA818;
    background:#ffffff;
    border: 1px solid #DCA818;
}
.spec{
    margin-top: 188px;
    margin-bottom: 100px;
}
.carousel-inner img {
    width:312px;
    height: 312px;
    margin-top: 14px;
}

.carousel-indicators-numbers{
    left: 450px !important;
}

.carousel-indicators-numbers li {
    text-indent: 0;
    margin: 0 5px;
    width: 13px;
    height: 13px;
    border: none;
    border-radius: 100%;
    line-height: 30px;
    color: #cccccc;
    background-color: #cccccc;
    transition: all 0.8s ease;
}
.carousel-indicators-numbers li.active {
    width: 13px;
    height: 13px;
    background: #DCA818;
}
.carousel-indicators-numbers li:hover {
    width: 13px;
    height: 13px;
    background: #DCA818;
}

.carousel-inner h1{
    margin-top: 25px;
    margin-left: 73px;
    color: #000;
    font-family: Museo Sans Cyrl,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
}
.carousel-caption{
    margin-left: 80px;
    margin-bottom: 80px;
}
.p1{
    color: #000;
    margin-left: 73px;
    font-family: Museo Sans Cyrl,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    width: 325px;
    padding-top: 39px;

}
.p2{
    color: #000;
    font-family: Museo Sans Cyrl,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-left: 59px;
    width: 325px;
    padding-top: 39px;
}
.slide{
    width: 100%;
    height: 400px;
    margin-top: 14px;
}
.input_btn_3{
    position: relative;
    background: #DCA818;
    color: #ffffff;
    border: 0;
    border-radius: 50px;
    padding: 10px 0;
    cursor: pointer;
    font-family: Museo Sans Cyrl, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    width: 293px !important;
    height: 44px !important;
    text-decoration: none;
    margin-top: 358px;
    margin-right: 70px;
}
.input_btn_3:hover{
    text-decoration: none;
    color:#000;
    cursor: pointer;
}
.cont{
    font-family: Museo Sans Cyrl,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-top: 115px;
    margin-bottom: 36px;
}
.cont2{
    margin-top: 199px;
}
.clock{
    margin-right: 16px;
    margin-bottom: 34px;
}
.raspisanie{
    margin-right: 30px;
    margin-bottom: 28px;
}
.contacts p{
    font-family: Museo Sans Cyrl,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000;
}
.contacts a{
    font-family: Museo Sans Cyrl,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000;
}
.contacts a:hover{
    color: #DCA818;
    text-decoration: none;
}
.kont{
    font-size: 20px;
    margin-right: 10px;
}
.pdf{
    width: 38px;
    height: 38px;
    margin-right: 17px;
}
.sdvig{
    margin-left: 73px;
}
.forma{
    width: 325px;
    height: 464px;
    background-color: #DCA818;
    margin-bottom: 100px;
    padding: 0;
    margin-top: 152px;
}
.forma h1{
    font-family: Museo Sans Cyrl,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #ffffff;
    padding-top: 29px;
    margin-bottom: 26px;
}
input::-moz-placeholder {
    color: #CACACA;
    font-family: Museo Sans Cyrl,sans-serif;
    text-decoration-line: underline;
}
input::-webkit-input-placeholder {
    color: #CACACA;
    font-family: Museo Sans Cyrl,sans-serif;
    text-decoration-line: underline;
}
.form input{
    padding: 12px 0px 12px 20px;
    font-family: Museo Sans Cyrl,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #CACACA;
    width: 264px;
    height: 42px;
    border: 0;
    margin-bottom: 23px;
    margin-left: 31px;
}
.form button{
    width: 180px;
    height: 50px;
    background: #10c9c3;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    border: 0;
    margin-top: 60px;

}
.form button:hover{
    color: #000000;
}
.form__name{
    width: 264px;
    height: 42px;
    color: #CACACA;
}
.form__email{
    width: 264px;
    height: 42px;
}
.form__number{
    width: 264px;
    height: 42px;
}
.form__com{
    width: 264px !important;
    height: 90px !important;
    font-family: Museo Sans Cyrl, sans-serif;
    font-weight: 400;
    color: #CACACA;
    font-size: 18px;
    border: 0;
}
textarea{
    color: #CACACA;
    font-family: Museo Sans Cyrl,sans-serif;
    text-decoration-line: underline;
    padding: 12px 0px 12px 20px;
}
footer{
    height: 255px;
    background: #333232;
}
footer h1{
    margin-top: 36px;
    font-family: Museo Sans Cyrl,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    color: #DCA818;
}
.foot__menu{
    padding: 0;
}
.foot__menu_1{
    margin-right: 29px;
}
footer a, p{
    font-family: Museo Sans Cyrl,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
}
footer a:hover{
    color: #DCA818;
    text-decoration: none;
    cursor: pointer;
}
.foot__menu p{
    margin-top: 25px;
}
footer i{
    color: #DCA818;
    font-size: 20px;
    margin-left: 10px;
}
.ii{
    margin-top: 15px;
}

@font-face {
    font-family: Museo Sans Cyrl, sans-serif;
    src: url("../fonts/Museo-Sans-Cyr/MuseoSansCyrl_0.otf") format("opentype");
}

